<header class="blog-header py-3 bg-nblg">
    <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col text-center">
            <h1 class="blog-header-logo text-white">Sign in</h1>
        </div>
    </div>
</header>
<br>
<div class="col text-center">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.text_field :name, placeholder:"name"%>

      <%= f.submit "Log in", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>