<header class="blog-header py-3 bg-nblg">
    <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col text-center">
            <h1 class="blog-header-logo text-white">Sign Up</h1>
        </div>
    </div>
</header>
<br>

<%= render 'form', user: @user %>


